<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail of {{ghar.title}}</title>
</head>

<body>
    <div class="" style="width: 700px; margin: 0 auto; color:rgb(78, 78, 78)">
        <div class=""><a href="{% url 'gharkhet_app:home' %} "> HOME </a></div>
        <h1 style="color:rgb(13, 116, 184)">{{ghar.title}}</h1>
        <div><img src="{{ghar.image.url}}" style="width: 100%; border-radius: 20px" alt=""></div>
        <h2 style="color:indianred">Price: {{ghar.price}}</h2>
        <p>{{ghar.detail}}</p>
    </div>
</body>

</html>