<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <div class="" style="width: 700px; margin: 40px auto">
        <div class=""><a href="{% url 'gharkhet_app:home' %} " style="text-decoration: none; color: rgb(13, 116, 184)">
                HOME</a></div> {% for item in gharkhet %} <div class="" style="text-align: center; margin: 40px auto">
            <div class="" style="width: 700px; margin: 0 auto">
                <img src="{{item.image.url}}" style="width: 100%; border-radius: 20px" alt="" />
            </div>
            <h2>
                <a href="{% url 'gharkhet_app:detail' item.title %}"
                    style="text-decoration: none; color: rgb(13, 116, 184);">{{item.title}}</a>
            </h2>
            <hr style="width: 700px" />
        </div> {% endfor %}
    </div>
</body>

</html>